@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #733F2D, #5c2916);
    }
    #login {
        width: 90vw;
        height: 280px;
    }
    #login > #foto {
        float: left;
        width: 40%;
        height: 100%;
    }
    #login > #formulario {
        float: right;
        width: 60%;
    }
    #formulario > p {
        font-size: 1.2em;
        margin: 15px 0px;
    }
    form > p > input[type=email] {
        width: 92%;
        height: 25px;
    }
    
    form > p > input[type=password] {
        width: 92%;
        height: 25px;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #733F2D, #532515);
    }
    #login {
        width: 950px;
        height: 280px;
    }
    #login > #foto {
        float: left;
        width: 50%;
        height: 100%;
    }
    #login > #formulario {
        float: right;
        width: 50%;
    }
    #formulario > p {
        font-size: 1.2em;
        margin: 20px 0px;
    }
    form > p > input[type=email] {
        width: 93%;
        height: 25px;
    }
    
    form > p > input[type=password] {
        width: 93%;
        height: 25px;
    }
}